.ftpignore
.ftpconfig

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


connectivity/*
!connectivity/.gitkeep

data/R2R_test.json
data/R2R_train.json
data/R2R_val_seen.json
data/R2R_val_unseen.json
data/vocab.txt
data/id_paths.json
data/prevalent/*
!data/prevalent/.gitkeep

img_features/*
!img_features/.gitkeep

snap/*
!snap/.gitkeep

logs/*
!logs/.gitkeep

Prevalent/*

bert-base-uncased-vln/
*.log

MapGPT/datasets
MapGPT/Observation_RGB

feat_checkpoints/*

# NavGPT
*.swp

NavGPT/datasets/*
!NavGPT/datasets/.gitkeep


# NavGPT-2
NavGPT_2/datasets/*
!NavGPT_2/datasets/.gitkeep
NavGPT_2/map_nav_src/models/lavis/output
NavGPT_2/map_nav_src/models/data
!NavGPT_2/map_nav_src/models/data/.gitkeep
